In [93]:
#importeren
import pandas as pd
import pickle

# Data Exploration

In [94]:
#Inladen van pickle bestand
land = pd.read_pickle('spectral_data.pkl')    
land = land.sample(frac=0.01,random_state=1)

land

band,x,y,1,2,3,4,5,6,7,8,...,182,183,184,185,186,187,188,189,190,191
49357,161,238,3434,3226,3104,3176,3124,3079,3003,2778,...,18,16,12,11,12,10,7,9,8,6
108378,354,8,3344,3203,3188,3116,3050,2988,2912,2671,...,0,3,0,2,-1,2,0,2,-1,-1
93119,304,99,3869,3759,3722,3709,3700,3620,3592,3365,...,33,25,22,25,23,22,14,17,15,11
366378,1194,128,4437,4265,4246,4361,4291,4258,4265,4059,...,89,72,57,68,63,60,34,49,38,23
127042,414,252,4091,4024,4195,4026,3960,3890,3820,3603,...,32,25,20,25,24,20,14,19,14,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277365,904,145,3883,3744,3751,3706,3635,3663,3632,3399,...,100,80,63,77,68,63,40,49,38,23
309315,1008,167,3741,3664,3614,3708,3676,3627,3477,3349,...,80,64,50,62,57,51,30,38,32,20
179528,585,241,3568,3431,3426,3406,3287,3339,3251,3050,...,29,25,19,21,18,15,10,13,10,8
203212,662,286,4459,4395,4229,4289,4062,4220,4112,3920,...,38,33,25,33,29,24,17,23,15,11
184174,600,282,3455,3259,3172,3129,3188,3089,2995,2727,...,21,17,9,7,5,8,2,5,4,5

In [95]:
#Dit is om te kijken hoed 
land.head(10)

band,x,y,1,2,3,4,5,6,7,8,...,182,183,184,185,186,187,188,189,190,191
49357,161,238,3434,3226,3104,3176,3124,3079,3003,2778,...,18,16,12,11,12,10,7,9,8,6
108378,354,8,3344,3203,3188,3116,3050,2988,2912,2671,...,0,3,0,2,-1,2,0,2,-1,-1
93119,304,99,3869,3759,3722,3709,3700,3620,3592,3365,...,33,25,22,25,23,22,14,17,15,11
366378,1194,128,4437,4265,4246,4361,4291,4258,4265,4059,...,89,72,57,68,63,60,34,49,38,23
127042,414,252,4091,4024,4195,4026,3960,3890,3820,3603,...,32,25,20,25,24,20,14,19,14,10
144094,470,112,3964,3874,3863,3902,3864,3741,3803,3547,...,68,55,42,53,48,45,27,36,32,20
122832,401,33,3382,3210,3124,3113,3130,3032,2974,2831,...,0,1,0,1,1,1,1,2,0,0
244882,798,204,3674,3526,3502,3487,3525,3462,3515,3293,...,63,50,38,48,42,39,24,30,26,14
364672,1188,264,3607,3510,3415,3309,3281,3265,3210,2957,...,37,29,23,27,22,20,12,17,12,8
78994,258,96,3273,3150,3112,3094,3013,2990,2873,2757,...,16,12,9,11,11,10,6,8,5,4

In [96]:
#Check om te kijken of het gelukt is 
land.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3930 entries, 49357 to 184174
Columns: 193 entries, x to 191
dtypes: int16(191), int64(2)
memory usage: 1.5 MB

# Data prep

In [97]:
#Importeren van en gebruiken van sample maar dit is niet reprensatief van de data set. Omdat er random gegevens gepakt worden.
land_labels = pd.read_pickle('ground_truth.pkl')
land_labels = land_labels.sample(frac=0.01,random_state=1)
land_labels

           x    y category
49357    161  238    trees
108378   354    8    water
93119    304   99     road
366378  1194  128     roof
127042   414  252     road
...      ...  ...      ...
277365   904  145    grass
309315  1008  167    grass
179528   585  241    grass
203212   662  286     road
184174   600  282    water

[3930 rows x 3 columns]

In [98]:
land_labels = land_labels['category'] 
land_labels.head(50)
#De nummers komen overeen met de sample van de andere data set door hetzelfde random_state

49357      trees
108378     water
93119       road
366378      roof
127042      road
144094     grass
122832     trees
244882     grass
364672     grass
78994      trees
261956      roof
276495     trees
35471      trees
225972     trees
169864      roof
11058      water
115596     grass
5620        road
11937      grass
371862     trees
280958      roof
174102      roof
65428      trees
93741      trees
101522     grass
359776      roof
376345      road
78439      water
116653     grass
74403      trees
104666      roof
74714      trees
233870    shadow
244286      roof
193122    shadow
115219     water
120104     trees
313950     grass
387354      roof
182859      roof
353422      road
289665     grass
262852      roof
95036      grass
345189     trees
253241     trees
53697       roof
123390     grass
226799    shadow
36508       roof
Name: category, dtype: object

# Modeling

In [30]:
from sklearn.linear_model import LogisticRegression

base_log_reg = LogisticRegression(penalty='l1', 
                                   multi_class='ovr',
                                   solver='saga', 
                                   max_iter=int(1e4), 
                                   C=1).fit(land, land_labels)

base_log_reg.score(land, land_labels)

C:\Users\Gebruiker\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\Gebruiker\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

0.8353689567430026

In [100]:
land_voorspellen = pd.DataFrame(land_labels)

In [101]:
uitkomst = base_log_reg.predict(land)
uitkomst

C:\Users\Gebruiker\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

array(['trees', 'water', 'road', ..., 'grass', 'road', 'road'],
      dtype=object)

In [102]:
land_voorspellen['uitkomst'] = uitkomst.tolist()
land_voorspellen

       category uitkomst
49357     trees    trees
108378    water    water
93119      road     road
366378     roof     roof
127042     road     road
...         ...      ...
277365    grass    grass
309315    grass    grass
179528    grass    grass
203212     road     road
184174    water     road

[3930 rows x 2 columns]

In [103]:
procent = land_voorspellen['category'] == land_voorspellen['uitkomst']
procent.value_counts()

True     3283
False     647
dtype: int64

Hier is te zien dat wat het model goed heeft voorspelt en wat fout. Dit is volgens mijn verwachting dat het model best wel goed werkt.

In [14]:
from sklearn.svm import l1_min_c
import numpy as np

cs = l1_min_c(land, land_labels, loss='log') * np.logspace(0, 7, 16)

In [15]:
np.log10(1/cs)

array([7.03374232, 6.56707566, 6.10040899, 5.63374232, 5.16707566,
       4.70040899, 4.23374232, 3.76707566, 3.30040899, 2.83374232,
       2.36707566, 1.90040899, 1.43374232, 0.96707566, 0.50040899,
       0.03374232])

In [16]:
from sklearn.linear_model import LogisticRegressionCV #let op dit is de crossvalidatie 

base_log_reg = LogisticRegressionCV(penalty='l1', 
                                   multi_class='ovr',
                                   solver='saga', 
                                   max_iter=int(1e4), 
                                   Cs=cs).fit(land, land_labels)
#Hier wordt het model verder getraind met CV

C:\Users\Gebruiker\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

KeyboardInterrupt:

In [ ]:
base_log_reg.score(land, land_labels)

In [ ]:
base_log_reg.predict(land)

In [ ]:
np.log10(1/base_log_reg.C_)

In [ ]:
pd.DataFrame(base_log_reg.scores_['trees']).plot()
pd.DataFrame(base_log_reg.scores_['trees'].T, index=np.log10(1/(cs))).plot()

In [ ]:
pd.DataFrame(base_log_reg.scores_['water'].T, index=np.log10(1/(cs))).plot()

In [ ]:
pd.DataFrame(base_log_reg.scores_['roof'].T, index=np.log10(1/(cs))).plot()

In [ ]:
pd.DataFrame(base_log_reg.scores_['grass'].T, index=np.log10(1/(cs))).plot()

In [ ]:
pd.DataFrame(base_log_reg.coefs_paths_['trees'].mean(axis=0), index=np.log10(1/(cs))).plot(legend=False)

Hier is te zien dat veel van de variable voor het voorspellen van water niet gebruikt worden, 
maar er zijn er een paar die wel gebruikt worden

In [ ]:
pd.DataFrame(base_log_reg.coefs_paths_['water'].mean(axis=0), index=np.log10(1/(cs))).plot(legend=False)

In [ ]:
pd.DataFrame(base_log_reg.coefs_paths_['trees'].mean(axis=0), index=np.log10(1/(cs))).plot(legend=False)

In [ ]:
pd.DataFrame(base_log_reg.coefs_paths_['roof'].mean(axis=0), index=np.log10(1/(cs))).plot(legend=False)

In [ ]:
land = pd.read_pickle('spectral_data.pkl')
land = land[:200]
land

In [ ]:
land_labels = pd.read_pickle('ground_truth.pkl')
land_labels = land_labels[:200]
land_labels = land_labels['category']
land_labels.head()

In [ ]:
from sklearn.linear_model import LogisticRegression

base_log_reg = LogisticRegression(penalty='l1', 
                                   multi_class='ovr',
                                   solver='saga', 
                                   max_iter=int(1e4), 
                                   C=1).fit(land, land_labels)

base_log_reg.score(land, land_labels)

De score is veel hogere dan met sample. Dit is omdat in het model waarschijnlijk vaker een categorie heeft dan de andere.
Waardoor die overgefitd wordt want als alles grass is kan het model het moeilijk verkeerd hebben.

In [ ]:
from sklearn.svm import l1_min_c
import numpy as np

cs = l1_min_c(land, land_labels, loss='log') * np.logspace(0, 7, 16)

In [ ]:
np.log10(1/cs)

In [ ]:
from sklearn.linear_model import LogisticRegressionCV #let op dit is de crossvalidatie 

base_log_reg = LogisticRegressionCV(penalty='l1', 
                                   multi_class='ovr',
                                   solver='saga', 
                                   max_iter=int(1e4), 
                                   Cs=cs).fit(land, land_labels)

In [ ]:
base_log_reg.score(land, land_labels)

Het zelfde effect is hier ook te zien.

In [ ]:
pd.DataFrame(base_log_reg.scores_['trees']).plot()
pd.DataFrame(base_log_reg.scores_['trees'].T, index=np.log10(1/(cs))).plot()

De grafrieken zijn ook anders